###############################################################################
# GNU Make
###############################################################################
# Compiled AVR binaries
bin/*
obj/*
