###############################################################################
# GNU Make
###############################################################################
# Compiled AVR binaries
software/bin/*
software/.dep/*

*.o
*.s
*.elf
*.hex
